.divider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }
  
  /* Style the last .divider differently */

  
  .divider svg {
    position: relative;
    display: block;
    width: 140%;
    height: 70px;
  }
  
  .divider .shape-fill {
    fill: #262626;
  }
  
.divider:nth-last-of-type(2) {
    top: auto; /* Reset the top property */
    bottom: 0px;
    left: 0;
    transform: rotateX(180deg) rotateY(180deg);

}
