.divider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }
  
  /* Style the last .divider differently */

  
  .divider svg {
    position: relative;
    display: block;
    width: calc(150% + 1.3px);
    height: 70px;
  }
  
  .divider .shape-fill {
    fill: #262626;
  }
  