/* Section component styles */
.mainSection{
    padding: 0;
    height: 100vh;
    width: 100%;
    /* background: rgba(0,0,0,0.1); */
    overflow: hidden;
    position: relative;
    border: var(--border);

    

}
.sectionContent{
    overflow: hidden;
    border: var(--border);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
    padding: 8% 10%;
    box-sizing: border-box;
}
.sectionTitle{
    color: var(--text-primary);
    font-size: 2.3em;
    letter-spacing: 2px;
    margin: 0;
}

.sectionMain .divider:nth-last-of-type(2) {
    top: auto; /* Reset the top property */
    bottom: 0;
    left: 0;
    transform: rotateX(180deg) rotateY(180deg);

}
